<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Магазин</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="header">
                {% include 'mainapp/header.html' %}
            </div>
            {% block content %}
            {% endblock %}
            {% include 'mainapp/modal.html' %}
        </div>
        <div class="footer">
            {% block footer %}

            {% endblock %}
        </div>
    </div>
    <script src="{% static 'js/jquery-3.3.0.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>
